<h1>{{title}}</h1>
<br><br>
<div class="box">
  
<form [formGroup]="signin" (ngSubmit)="user()" >
  <label>name</label><br>
  <input type="text"placeholder="enter your name"name="name"formControlName="name"> <br>
  <span *ngIf="name && name.invalid && name.touched">
    this is not valid name*
  </span>
  <br>
  <label >email</label><br>
  <input type="email"placeholder="enter your email"name="email"formControlName="email"> <br>
  <span *ngIf="email && email.invalid && email.touched">
    this is not valid email*
  </span> <br>
  <label >Phone number</label><br>
  <input type="number"placeholder="enter your contact details"name="number"formControlName="number"> <br>
  <span *ngIf="number && number.invalid && number.touched">
    this is not valid number*
  </span> <br>
  <label>password</label><br>
  <input type="password"placeholder="enter your password"name="password"formControlName="password"> <br>
  <span *ngIf="password && password.invalid && password.touched">
    this is not valid password*
  </span>
  <br>
  <label>Upload document</label><br>
  <input type="file"placeholder="upload your document"name="file"formControlName="file"> <br>
  <span *ngIf="file && file.invalid && file.touched">
    upload your document is required*
  </span>
  <br>
  <button [disabled]="signin.invalid"  >submit</button>
</form>
</div>